﻿@model MVCFull.Models.Car

<tr>
    <td>
        @Html.DisplayFor(item => item.Make)
    </td>
    <td>
        @Html.DisplayFor(item => item.Model)
    </td>
    <td>
        @Html.DisplayFor(item => item.Year)
    </td>
    <td>
        @Html.DisplayFor(item => item.Email)
    </td>
    <td>
        @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
        @Html.ActionLink("Details", "Details", new { id = Model.ID }) |
        @Html.ActionLink("Delete", "Delete", new { id = Model.ID })
    </td>
</tr>

