﻿<%@ Page Language="C#" AutoEventWireup="true" CodeFile="Default.aspx.cs" Inherits="_Default" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
</head>
<body>
    <form id="form1" runat="server">
        <asp:Label ID="Label1" runat="server" Text="Hello World!" Font-Bold="True" Font-Size="X-Large" Font-Italic="True"></asp:Label>
    <div>
    
    </div>
    </form>
</body>
</html>
